@import './base/variables';


* {
    font-family: "MuseoModerno", sans-serif;
    margin: 0;
}



.container {
    width: 80%;
    margin: 0 auto;
    font-family: 'Museo Sans Cyrl';
}





@import './blocks/promo';
@import './blocks/button';
@import './blocks/title';
@import './blocks/advantages';
@import './blocks/consultation';
@import './blocks/form.scss';
@import './blocks/carousel.';
@import './blocks/catalog';
@import './blocks/reviews';
@import './blocks/footer';
@import './blocks/modal';
@import './blocks/pageup';