.carousel-items {
    padding: 80px 0 0 0;
    width: 750px;
    margin: 0 auto;
    position: relative;
    button {
        background-color: #fff;
        border: none;
        cursor: pointer;
    }
}


.slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -80px;  
}

.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -80px;  
}

